<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <context-param>
    <param-name>resteasy.role.based.security</param-name>
    <param-value>true</param-value>
  </context-param>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Create Customers</web-resource-name>
      <url-pattern>/services/customers</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>create-customers</role-name>
    </auth-constraint>
    <!-- user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint-->
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Get HTML Badger Customers</web-resource-name>
      <url-pattern>/services/customers/badger.html</url-pattern>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>get-html-customers</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Get HTML Mapped Customers</web-resource-name>
      <url-pattern>/services/customers/mapped.html</url-pattern>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>get-html-customers</role-name>
    </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>customers-realm</realm-name>
  </login-config>

  <security-role>
    <role-name>create-customers</role-name>
  </security-role>
  <security-role>
    <role-name>get-json-customers</role-name>
  </security-role>
  <security-role>
    <role-name>get-xml-customers</role-name>
  </security-role>
  <security-role>
    <role-name>get-html-customers</role-name>
  </security-role>
</web-app>
